* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html {
    font-family: "Montserrat", sans-serif;
  }
  
  :root{
    background-color: var(--primary-color);
    --primary-color: #313131;
    --secondary-color: #1b3c3c;
    --tertiary-color: #f9f9f9;
    --quaternary-color: #9d9d9d;
    --fifth-color: #232323;
  }